<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
       <h4>Result rate from <%= @optionsave %></h4>
       <p>
           <%= @targets[0] %>&nbsp;&nbsp<%= @rates[0] %> </br>
           <%= @targets[1] %>&nbsp;&nbsp<%= @rates[1] %> </br>
           <%= @targets[2] %>&nbsp;&nbsp<%= @rates[2] %> </br>
           <!-- rate: <%= @rates %> -->
       </p>
  </body>
</html>
