<p id="notice"><%= notice %></p>

<div class="row">
   <div class="large-12 columns">

     <center style="padding: 18px 15px 3px 15px;border: 1px solid #e6e6e6;background-color: #ffffff;border-bottom: 0;1">
       <h4>Convert exchange rate</h4>
     </center>
     <div class="callout columns" style="border: 1px solid #e6e6e6;">
        <%= form_for products_path, :method => 'get' do %>
          <legend>Select source country</legend>
          <%= select_tag(:option, options_for_select([["Euroup","EUR"],["South Korea","KRW"],["North Korea","KPW"]], params[:option] ), class:"select") %>
          <legend>Select target country</legend>
          <%= select_tag(:option1, options_for_select([["Euroup","EUR"],["South Korea","KRW"],["North Korea","KPW"]], params[:option] ), class:"select") %>
          <%= text_field_tag :amount, params[:amount] , type: "amount", name: "amount", class: "input-group-field large-12 columns", placeholder: "Insert amount "%>
          </br>
          <label for="checkbox1">
            <%= check_box_tag :mail, true %>send mail
          </lable>
          <%= submit_tag "Get exchange rate", :id => ['option','option1'], class: "button expand large-12 large-centered columns"%>
        <% end %>
     </div>
     <center style="padding: 18px 15px 3px 15px;border: 1px solid #e6e6e6;background-color: #ffffff;border-bottom: 0;1">
       <h4>Result convert rate from <%= @option %></h4>
     </center>
     <div class="callout" style="border: 1px solid #e6e6e6;">
       <p> 
           <%= @option1 %>&nbsp;&nbsp<%= @rate %> </br> 
       </p>
     </div>
<!--
     <h1>Products</h1>
     
     <table>
       <thead>
         <tr>
           <th>Name</th>
           <th>Price</th>
           <th colspan="3"></th>
         </tr>
       </thead>
     
       <tbody>
         <% @products.each do |product| %>
           <tr>
             <td><%= product.name %></td>
             <td><%= product.price %></td>
             <td><%= link_to 'Show', product %></td>
             <td><%= link_to 'Edit', edit_product_path(product) %></td>
             <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
           </tr>
         <% end %>
       </tbody>
     </table>
     
     <br>
     
     <%= link_to 'New Product', new_product_path %>

  </div>
</div>
-->
