<%= form_for(best) do |f| %>
  <% if best.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(best.errors.count, "error") %> prohibited this best from being saved:</h2>

      <ul>
      <% best.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
