<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @best.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @best.price %>
</p>

<%= link_to 'Edit', edit_best_path(@best) %> |
<%= link_to 'Back', bests_path %>
