.input-group-field {
  text-align: center;
  margin-left: 0.0rem;
  margin-right: 0.5rem;
  margin-bottom: 1.0rem;
  padding: 1rem;

  &::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    appearance: none;
  }
}

.grid-container {
  max-width: 75rem;
  margin: 0 auto; }
.reveal-modal-bg {
position: fixed;
}

.name2 img {

    height:30px;
    margin-left:2px;
    margin-top:-12px;
    margin-bottom:-10px;
    border-radius: 5%;
    border: 0px solid #4D4D4D;

}
