<div class="row">
   <div class="large-12 columns">

     <h1>Editing Product</h1>
     
     <%= render 'form', product: @product %>
     
     <%= link_to 'Show', @product %> |
     <%= link_to 'Back', products_path %>

  </div>
</div>
