<p id="notice"><%= notice %></p>

<div class="row">
   <div class="large-12 columns">

     <center style="padding: 18px 15px 3px 15px;border: 1px solid #e6e6e6;background-color: #ffffff;border-bottom: 0;1">
       <h4>Recent exchange rate</h4>
     </center>
     <div class="callout columns" style="border: 1px solid #e6e6e6;">
        <%= form_for products_path, :method => 'get' do %>
          <legend>Select source country</legend>
          <%= select_tag(:option, options_for_select([["Euroup","EUR"],["South Korea","KRW"],["North Korea","KPW"]], params[:option] ), class:"select") %>
            <div class="grid-x grid-padding-x">
              <fieldset class="large-6 cell">
                <legend>Select target country</legend>
                  <label for="checkbox1">USD
                  <%= check_box_tag :target1, "USD" %>
                  </lable>
                  <label for="checkbox1">KRW
                  <%= check_box_tag :target2, "KRW" %>
                  </lable>
                  <label for="checkbox1">KPW
                  <%= check_box_tag :target3, "KPW" %>
                  </lable>
              </fieldset>

            </div>
            <label for="checkbox1">
            <%= check_box_tag :mail, true %>send mail
            </lable>
          <%= submit_tag "Get exchange rate", :id => ['option','target1','target2','target3'], class: "button expand large-12 large-centered columns"%>
        <% end %>
     </div>
     <br>
     <center style="padding: 18px 15px 3px 15px;border: 1px solid #e6e6e6;background-color: #ffffff;border-bottom: 0;1">
       <h4>Result rate from <%= @optionsave %></h4>
     </center>
     <div class="callout" style="border: 1px solid #e6e6e6;">
       <p> 
           <%= @targets[0] %>&nbsp;&nbsp<%= @rates[0] %> </br> 
           <%= @targets[1] %>&nbsp;&nbsp<%= @rates[1] %> </br>
           <%= @targets[2] %>&nbsp;&nbsp<%= @rates[2] %> </br> 
           <!-- rate: <%= @rates %> --> 
       </p>
     </div>
<!--
     <h1>Products</h1>
     
     <table>
       <thead>
         <tr>
           <th>Name</th>
           <th>Price</th>
           <th colspan="3"></th>
         </tr>
       </thead>
     
       <tbody>
         <% @products.each do |product| %>
           <tr>
             <td><%= product.name %></td>
             <td><%= product.price %></td>
             <td><%= link_to 'Show', product %></td>
             <td><%= link_to 'Edit', edit_product_path(product) %></td>
             <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
           </tr>
         <% end %>
       </tbody>
     </table>
     
     <br>
     
     <%= link_to 'New Product', new_product_path %>

  </div>
</div>
-->
