<div class="row">
   <div class="large-12 columns">

      <h1>New Product</h1>
      
      <%= render 'form', product: @product %>
      
      <%= link_to 'Back', products_path %>

  </div>
</div>
