<p id="notice"><%= notice %></p>

<div class="row">
   <div class="large-12 columns">
     <p>
       <strong>Name:</strong>
       <%= @product.name %>
     </p>
     
     <p>
       <strong>Price:</strong>
       <%= @product.price %>
     </p>
     
     <%= link_to 'Edit', edit_product_path(@product) %> |
     <%= link_to 'Back', products_path %>

  </div>
</div>
