<div class="hide-for-small-only" data-sticky-container style="z-index: 10;box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);">
  <div class="small-12 sticky" data-sticky data-options="stickyOn: small" data-margin-top="0">

    <div class="top-bar" id="responsive-topbar">
      <div class="grid-container">

      <div class="top-bar-left show-for-large">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="name2">
              <%= link_to image_tag('cringle.png', alt: 'go to root'), root_url %>
          </li>
          <li>
            <%= link_to '<strong>Recent</strong>'.html_safe, :action=>"index", :controller=>"products" %>
          </li>
          <li>
            <%= link_to '<strong>Convert</strong>'.html_safe, :action=>"index", :controller=>"converts" %>
          </li>
          <li>
            <%= link_to '<strong>Best</strong>'.html_safe, :action=>"index", :controller=>"bests" %>
          </li>
           
       </ul>
      </div>
      <div class="top-bar-left show-for-medium-only">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="name2">
             <%= link_to image_tag('cringle.png', alt: 'go to root'), root_url %>
          </li>
          <li>
            <%= link_to '<strong>Recent</strong>'.html_safe, :action=>"index", :controller=>"products" %>
          </li>
          <li>
            <%= link_to '<strong>Convert</strong>'.html_safe, :action=>"index", :controller=>"converts" %>
          </li>
          <li>
            <%= link_to '<strong>Best</strong>'.html_safe, :action=>"index", :controller=>"bests" %>
          </li>
      </ul>
      </div>


      <div class="top-bar-right show-for-large">
        <ul class="dropdown menu" data-dropdown-menu>
        </ul>
      </div>

      <div class="top-bar-right show-for-medium-only">
        <ul class="dropdown menu" data-dropdown-menu>
        </ul>
      </div>

   
   </div>
   </div>
  </div>
</div>


<div class="top-bar show-for-small-only" >
  <div class="grid-container">

      <div class="top-bar-left show-for-small-only">

        <ul class="dropdown menu" data-dropdown-menu>
          <li class="name2">
             <%= link_to image_tag('cringle.png', alt: 'go to root'), root_url %>
          </li>
           <li>
            <%= link_to '<strong>Recent</strong>'.html_safe, :action=>"index", :controller=>"products" %>
          </li>
          <li>
            <%= link_to '<strong>Convert</strong>'.html_safe, :action=>"index", :controller=>"converts" %>
          </li>
          <li>
            <%= link_to '<strong>Best</strong>'.html_safe, :action=>"index", :controller=>"bests" %>
          </li>

        </ul>
      </div>


  </div>
</div>

